<div id="sideBar_container">
    <div class="header">
        <div class="subHeader">
            <div class="user_image ">
                <img src="assets/images/images (1).jpeg" class="rounded-circle">
            </div>
            <div class="headerIcon  ">
                    <button type="button"><fa-icon [icon]="faCircleNotch"></fa-icon></button>
                    <button type="button"> <fa-icon [icon]="faComment"></fa-icon></button> 
                     <button type="button"> <fa-icon [icon]="faEllipsisV"></fa-icon></button>
            </div>
        </div>
        <div class="searchBox">
                <input type="text" class="searchInput" placeholder="Search or start new chat">
                <div class="search_icon">
                     <fa-icon [icon]="faSearch"></fa-icon> 
                </div>
         </div>
    </div>

    <div id="contactsList">
        <div class="contact_item">
            <div class="contact_img">
                <img src="assets/images/images.jpeg" class="rounded-circle">
            </div>
            <div class="contact_outline">
                <h6>
                    Muhammad Atif
                </h6>
                <span>
                    Hello world! Good morning Bro...
                </span>
                <div class="time_section">
                        <span>Sunday</span>
                 </div>
            </div>
           
        </div>
    <!-- contacts items lists items hereeeee -->
    <div class="contact_item">
            <div class="contact_img">
                <img src="assets/images/images.jpeg" class="rounded-circle">
            </div>
            <div class="contact_outline">
                <h6>
                    Muhammad Atif
                </h6>
                <span>
                    Hello world! Good morning Bro...
                </span>
                <div class="time_section">
                        <span>Sunday</span>
                    </div>
            </div>
            
        </div>
        <div class="contact_item">
                <div class="contact_img">
                    <img src="assets/images/images.jpeg" class="rounded-circle">
                </div>
                <div class="contact_outline">
                    <h6>
                        Muhammad Atif
                    </h6>
                    <span>
                        Hello world! Good morning Bro...
                    </span>
                    <div class="time_section">
                            <span>Sunday</span>
                        </div>
                </div>
                
            </div>
    <div class="contact_item">
        <div class="contact_img">
            <img src="assets/images/images.jpeg" class="rounded-circle">
        </div>
        <div class="contact_outline">
            <h6>
                Muhammad Atif
            </h6>
            <span>
                Hello world! Good morning Bro...
            </span>
            <div class="time_section">
                    <span>Sunday</span>
                </div>
        </div>
        
    </div>
    <div class="contact_item">
            <div class="contact_img">
                <img src="assets/images/images.jpeg" class="rounded-circle">
            </div>
            <div class="contact_outline">
                <h6>
                    Muhammad Atif
                </h6>
                <span>
                    Hello world! Good morning Bro...
                </span>
                <div class="time_section">
                        <span>Sunday</span>
                    </div>
            </div>
            
        </div>
        <div class="contact_item">
                <div class="contact_img">
                    <img src="assets/images/images.jpeg" class="rounded-circle">
                </div>
                <div class="contact_outline">
                    <h6>
                        Muhammad Atif
                    </h6>
                    <span>
                        Hello world! Good morning Bro...
                    </span>
                    <div class="time_section">
                            <span>Sunday</span>
                        </div>
                </div>
                
            </div>
            <div class="contact_item">
                    <div class="contact_img">
                        <img src="assets/images/images.jpeg" class="rounded-circle">
                    </div>
                    <div class="contact_outline">
                        <h6>
                            Muhammad Atif
                        </h6>
                        <span>
                            Hello world! Good morning Bro...
                        </span>
                        <div class="time_section">
                                <span>Sunday</span>
                            </div>
                    </div>
                    
                </div>
                <div class="contact_item">
                        <div class="contact_img">
                            <img src="assets/images/images.jpeg" class="rounded-circle">
                        </div>
                        <div class="contact_outline">
                            <h6>
                                Muhammad Atif
                            </h6>
                            <span>
                                Hello world! Good morning Bro...
                            </span>
                            <div class="time_section">
                                    <span>Sunday</span>
                                </div>
                        </div>
                        
                    </div>
    <!-- contacts items lists items hereeeee -->
</div>


    
</div>

















 