<div id="searchSms_container" >
    <div class="header">
        <div class="subHeader">
        <button type="button" (click)="onClose.emit()">
                <fa-icon [icon]="faTimes"></fa-icon>
        </button>
          Contact Info
        </div>
       
    </div>
    <div class="contactInfo">
        <div class="contactInfoImage">
            <img src="../assets/images/images.jpeg">
        </div>
        <div class="nameTitle">
          <h6>
                malik
          </h6>
         
        </div>
       
           
        
    </div>
</div>