.cover {

    width: 100%;
    margin-bottom: 3px;
    display: flex;
    margin-top: 3px;
    width: 100%;
    display: flex;

    .chatRecord {
        padding: 10px;
        padding-left: 10px;
        max-width: 60%;
        font-size: 14px;
        position: relative;
        margin-bottom: 5px;

        .triangle {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
        }
    }
}



.coverReciveSms {

    justify-content: flex-start;



    .chatRecord {

        background-color: #ffffff;
        margin-left: 10%;
        border-radius: 0px 10px 10px 10px;



        .taykonLeft {

            left: 10;
            left: -20px;

            background-image: url(../../assets/images/download.png);
        }

    }
}

.coverSendSms {

    justify-content: flex-end;


    .chatRecord {

        background-color: #dcf8c6;
        margin-right: 10%;
        border-radius: 10px 0px 10px 10px;


        .taykonRight {
            right: -10px;
            background-image: url(../../assets/images/rightangl.png);
        }

    }
}