<div id="searchSms_container" >
    <div class="header">
        <div class="subHeader">
        <button type="button" (click)="closeSearchComponent()">
                <fa-icon [icon]="faTimes"></fa-icon>
        </button>
           Searche Messages
        </div>
        <div class="searchBox">
            <input type="text" class="searchInput" placeholder="Search...">
            <div class="search_icon">
                <fa-icon [icon]="faSearch"></fa-icon>
            </div>
        </div>
    </div>
</div>