<div id="newChat" >
    <div class="header">

        <div class="subheader_cover">
            <div class="subHeader">
                <button type="button" (click)="onClose.emit()">
                    <fa-icon [icon]="faArrowLeft"></fa-icon>

                </button>
                New chat
            </div>
        </div>

        <div class="searchBox">
            <input type="text" class="searchInput" placeholder="Search...">
            <div class="search_icon">
                <fa-icon [icon]="faSearch"></fa-icon>

            </div>
        </div>
    </div>







    


    <div id="contactsList">




                    <div class="contact_item">
                        <div class="contact_img usersIcon">
                            <fa-icon [icon]="faUsers"></fa-icon>
                        </div>
                        <div class="contact_outline">
                            <h6>
                                New group
                            </h6>
            
                        </div>
            
                    
            
                </div>
            

            <div class="contact_item">
                    <div class="chatOutline">
                        Frequently Contacted
                    </div>
                </div>
        <div class="contact_item" *ngFor="let contact of contacts;">
            <div class="contact_img">
                <img src="assets/images/{{contact.image}}" class="rounded-circle">
            </div>
            <div class="contact_outline">
                <h6>
                    {{contact.name}}
                </h6>
                <span>
                    {{contact.message}}
                </span>

            </div>

        </div>

    </div>

</div>